@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Raleway');
html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

canvas {
    width: 100%;
    height: 100%;
}

#main {
    position: absolute;
}

#overlay {
    width:100%;
    height:100%;
    z-index:10;
    position:absolute;
    left:0px;
    top:0px;
    background-color: rgba(0, 0, 0, 0.12);
}

#panel {
    width: 60%;
    height: 50%;
    position:absolute;
    left:20%;
    top:20%;
    background-color: mediumaquamarine;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 30px;
    text-align:center;
    margin:0 auto;
}

#pLogin, #pPass {
    margin-top: 50px;
    margin-bottom: 5px;
}

input {
    display:inline-block;
    padding:8px;
    font-size:15px;
}

p {
    margin:0px;
}

    p:hover {
        cursor:default;
    }

#pRegister {
    margin:5%;
}

#add, #clearDB {
    color: black;
    margin-top: 55px;
    padding: 12px;
    padding-left: 35px;
    padding-right: 35px;
}

#clearDB {
    margin-top: 15px;
}

input[type="button"]:hover {
    cursor:pointer;       
}

#pAlready {
    margin-top: 15px;
    font-size: 18px;
}

#pAlready:hover {
    cursor:pointer;
}

#sidebar {
    height:100%;
    width:25vw;
    position:absolute;
    z-index: 100;
    right: 0px;
    top:0px;
    background-color:rgba(0, 0, 0, 0.0);
}

.box {
    height: 43px;
    width: 90%;
    margin: 12px 0 0 10%;
    color: black;
    font-size: 22px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}
